<!-- Off-Canvas Category Menu-->
<div class="offcanvas-container" id="shop-categories">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title">Top Menu</h3>
    </div>
    <nav class="offcanvas-menu">
        <ul class="menu">
            <li class="has-children">
                <span><a href="@Url.Action("Index", "Studio")">Studios</a></span>
            </li>
            <li class="has-children">
                <span><a href="@Url.Action("Index", "Equipment")">Equipment</a></span>
            </li>
            <li class="has-children">
                <span><a href="@Url.Action("Calendar", "Calendar")">Calendar</a></span>
            </li>
            <li class="has-children">
                <span><a href="@Url.Action("Location", "Studio")">Location</a></span>
            </li>
            @if (!User.Identity.IsAuthenticated)
            {
                <li class="has-children">
                    <span><a href="@Url.Action("Login", "Account")">Login</a></span>
                </li>
            }
        </ul>
    </nav>
</div>
<!-- Off-Canvas Mobile Menu-->
<div class="offcanvas-container" id="mobile-menu">
    <a class="account-link" href="account-orders.html">
        <div class="user-ava">
            <img src="img/account/user-ava-md.jpg" alt="Daniel Adams">
        </div>
        <div class="user-info">
            <h6 class="user-name">Daniel Adams</h6>@*<span class="text-sm text-white opacity-60">290 Reward points</span>*@
        </div>
    </a>
    <nav class="offcanvas-menu">
        <ul class="menu">
            <li class="has-children">
                <span><a href="@Url.Action("Index", "Home")">Home</a></span>
            </li>
            <li class="has-children">
                <span><a href="@Url.Action("Index", "Studio")">Studios</a></span>
            </li>
            <li class="has-children">
                <span><a href="@Url.Action("Index", "Equipment")">Equipment</a></span>
            </li>
            <li class="has-children">
                <span><a href="@Url.Action("Services", "Services")">Services</a></span>
            </li>
            <li class="has-children">
                <span><a href="@Url.Action("Blog", "Blog")">Blog</a></span>
            </li>
            <li class="has-children">
                <span><a href="@Url.Action("Contact", "Home")">Contact US</a></span>
            </li>
            <li class="has-children">
                <span><a href="@Url.Action("About", "Home")">About Us</a></span>
            </li>
            <li class="has-children">
                <span><a href="@Url.Action("Location", "Studio")">Location</a></span>
            </li>
            @if (!User.Identity.IsAuthenticated)
            {
                <li class="has-children">
                    <span><a href="@Url.Action("Login", "Account")">Login</a></span>
                </li>
            }
        </ul>
    </nav>
</div>
<!-- Topbar-->
<div class="topbar">
    <div class="topbar-column">
        <a class="hidden-md-down" href="mailto:info@digioneplus.com">
            <i class="icon-mail"></i>&nbsp; <b>info@digioneplus.com</b>
        </a>
        <a class="hidden-md-down" href="tel:+905324709216">
            <i class="icon-bell"></i>&nbsp; <b>+90 532 470 92 16</b>
        </a>
        <a class="social-button sb-facebook shape-none sb-dark" href="#" target="_blank">
            <i class="socicon-whatsapp"></i>
        </a>
        <a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank">
            <i class="socicon-youtube"></i>
        </a>
        <a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank">
            <i class="socicon-instagram"></i>
        </a>
        <a class="social-button sb-pinterest shape-none sb-dark" href="#" target="_blank">
            <i class="socicon-pinterest"></i>
        </a>
    </div>
    <div class="topbar-column">
        <a class="hidden-md-down" href="#"><i class="icon-download"></i>&nbsp; Get mobile app</a>
        <div class="lang-currency-switcher-wrap">
            <div class="lang-currency-switcher dropdown-toggle">
                <span class="language"><img alt="English" src="img/flags/GB.png"></span>
            </div>
            <div class="dropdown-menu">
                @* <div class="currency-select">
                    <select class="form-control form-control-rounded form-control-sm">
                    <option value="usd">$ USD</option>
                    <option value="usd">€ EUR</option>
                    <option value="usd">£ UKP</option>
                    <option value="usd">¥ JPY</option>
                    </select>
                    </div>*@
                <a class="dropdown-item" href="#">
                    <img src="img/flags/FR.png" alt="Français">Turkish
                </a>
                <a class="dropdown-item" href="#">
                    <img src="img/flags/IT.png" alt="Italiano">Russian
                </a>
            </div>
        </div>
    </div>
</div>

<header class="navbar navbar-sticky">
    <!-- Search-->
    <form class="site-search" method="get">
        <input type="text" name="site_search" placeholder="Type to search...">
        <div class="search-tools"><span class="clear-search">Clear</span><span class="close-search"><i class="icon-cross"></i></span></div>
    </form>
    <div class="site-branding">
        <div class="inner">
            <!-- Off-Canvas Toggle (#shop-categories)--><a class="offcanvas-toggle cats-toggle" href="#shop-categories" data-toggle="offcanvas"></a>
            <!-- Off-Canvas Toggle (#mobile-menu)--><a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
            <!-- Site Logo-->
            <a class="site-logo" id="hover_img_a" href="@Url.Action("Index", "Home")">
                <img src="img/logo/DIGI.png" id="hover_img" alt="Digioneplus">
                <img src="img/logo/DIGI-2.png" id="hover-img-2">
            </a>
        </div>
    </div>
    <!-- Main Navigation-->
    <nav class="site-menu">
        <ul>
            <li class="active">
                <a href="@Url.Action("Index", "Home")"><span>Home</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Studio")"><span>Studios</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Equipment")"><span>Equipment</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Services")"><span>Services</span></a>
            </li>
            <li>
                <a href="@Url.Action("Blog", "Blog")"><span>Blog</span></a>
            </li>
            <li>
                <a href="@Url.Action("Contact", "Home")"><span>Contact Us</span></a>
            </li>
            <li>
                <a href="@Url.Action("About", "Home")"><span>About Us</span></a>
            </li>
            <li>
                <a href="@Url.Action("Location", "Studio")"><span>Location</span></a>
            </li>
            @if (!User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="@Url.Action("Login", "Account")"><span>Login</span></a>
                </li>
            }
        </ul>
    </nav>
    <!-- Toolbar-->
    <div class="toolbar">
        <div class="inner">
            <div class="tools">
                <div class="search"><i class="icon-search"></i></div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="account">
                        <a href="account-orders.html"></a><i class="icon-head"></i>
                        <ul class="toolbar-dropdown">
                            <li class="sub-menu-user">
                                <div class="user-ava">
                                    <img src="img/account/user-ava-sm.jpg" alt="Daniel Adams">
                                </div>
                                <div class="user-info">
                                    <h6 class="user-name">Daniel Adams</h6>@*<span class="text-xs text-muted">290 Reward points</span>*@
                                </div>
                            </li>
                            <li><a href="account-profile.html">My Profile</a></li>
                            <li><a href="account-orders.html">Orders List</a></li>
                            <li><a href="account-wishlist.html">Wishlist</a></li>
                            <li class="sub-menu-separator"></li>
                            <li>
                                <a href="@Url.Action("Logout", "Account")">
                                    <i class="icon-unlock"></i>Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                }

                <div id="Basket" class="cart">
                    @await Component.InvokeAsync("Basket")
                </div>
            </div>
        </div>
    </div>
</header>